<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	"
	default-lazy-init="true">

	<description>Shiro安全配置</description>
	
	<!-- shiroDbRealm为项目自定义的realm，通过注解声明 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="shiroDbRealm"/>
			</list>
		</property>
		<property name="rememberMeManager" ref="rememberMeManager" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>
	
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
		<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('2itfW92XazYRi5ltW0M2yA==')}"/>
	</bean>
	
	<!-- 仅仅是一个cookie模版，用单例即可 -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<property name="name" value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="604800" /><!-- 默认一年太长了，此处设为1周 -->
	</bean>
	
	<bean id="shiroDbRealm" class="com.sogou.map.logreplay.security.ShiroDbRealm" >
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:config/ehcache-shiro.xml"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.htm" />
		<property name="successUrl" value="/home.htm" />
		<property name="unauthorizedUrl" value="/unauthorized.htm"/>
		<property name="filterChainDefinitions">
			<value>
				/test/** = anon
				/js/** = anon
				/css/** = anon
				/img/** = anon
				/bower_components/** = anon
				/fonts/** = anon
				/register** = anon
				/register/** = anon
				/login.htm = authc
				/logout.htm = logout
				/admin/** = authc, roles[super_admin]
				/** = user
			</value>
		</property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
</beans>