@CHARSET "GBK";
body { 
	padding-top: 70px; 
	font-size: 18px;
}
.top-bar ul>li {
	font-size: 14x;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
}
.top-bar ul>li.title {
	font-size: 25px;
}
.btn {
	font-family: 'Microsoft Yahei';
	font-size: 18px;
}