@CHARSET "GBK";
body { 
	padding-top: 70px; 
	font-size: 14px;
}
.top-bar ul>li {
	font-size: 14x;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
}
.top-bar .title {
	font-size: 25px;
}
.top-bar {
	font-size: 16px;
}
ul.nav.submenu li {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.table {
	text-align: center;
}
table.table > thead > tr > th {
	text-align: center;
	background-color: #eee;
}
table.table > tbody > tr > td {
	line-height: 25px;
}
.btn {
	font-family: 'Microsoft Yahei';
}
.btn-lg-font {
	font-size: 16px;
}
.modal-header {
	font-family: 'Microsoft Yahei';
}
ul.submenu {
	overflow: hidden;
}
