<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CommonMapper">
		  	
  	<sql id="limit">
 		<if test="__query_limit != null">
  			limit #{__query_limit}
  			<if test="__query_start != null" >
  				offset #{__query_start}
  			</if>
  		</if>
  	</sql>
  	
  	<sql id="orderBy">
  		<if test="__order_by != null and __order_by.size() > 0">
  			order by 
  			<foreach collection="__order_by"
  				index="field" item="sortType"
  				separator=",">
  				${field} ${sortType}
  			</foreach>
  		</if>
  	</sql>
  	
</mapper>