<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sogou.map.logreplay.mappers.OperationRecordMapper">
		  	
  	<insert id="batchSave" useGeneratedKeys="true">
  		insert into operation_record (<include refid="columns" />)
  		values
  		<foreach collection="list" item="record" separator=",">
  			(<include refid="fields" />)
  		</foreach>
  	</insert>
  	 	
  	<sql id="columns">
  		id, product_id, ip, device_id, uvid, os, version, timestamp, page_no, tag_no, params
  	</sql>
  	
  	<sql id="fields">
  		#{record.id}, #{record.productId}, #{record.ip}, #{record.deviceId}, #{record.uvid},
  		#{record.os}, #{record.version}, #{record.timestamp}, #{record.pageNo}, #{record.tagNo}, #{record.params}
  	</sql>
  	
  	<select id="count" resultType="_int">
  		select count(*)
  		<include refid="from" />
  		<include refid="where" />
  	</select>
  	
  	<select id="first" resultType="OperationRecord">
  		<include refid="select" />
  		<include refid="from" />
  		<include refid="where" />
  		<include refid="CommonMapper.orderBy" />
  		limit 1
  	</select>
  	
  	<select id="list" resultType="OperationRecord">
  		<include refid="select" />
  		<include refid="from" />
  		<include refid="where" />
  		<include refid="CommonMapper.orderBy" />
  	</select>
  	
  	<sql id="select">
  		select operation_record.*, tag_info.id as tag_info_id
  	</sql>
  	<sql id="from">
  		from operation_record
  			left join tag_info on tag_info.tag_no = operation_record.tag_no
  				and tag_info.page_no = operation_record.page_no
  				and tag_info.product_id = operation_record.product_id
  	</sql>
  	<sql id="where">
  		<where>
  			<if test="id != null">
  				and operation_record.id = #{id}
  			</if>
  			<if test="id__gt != null">
  				and operation_record.id > #{id__gt}
  			</if>
  			<if test="productId != null">
  				and operation_record.product_id = #{productId}
  			</if>
  			<if test="deviceId != null">
  				and operation_record.device_id = #{deviceId}
  			</if>
  			<if test="uvid != null">
  				and operation_record.uvid = #{uvid}
  			</if>
  			<if test="pageNo != null">
  				and operation_record.page_no = #{pageNo}
  			</if>
  			<if test="tagNo != null">
  				and operation_record.tag_no = #{tagNo}
  			</if>
  			<if test="timestamp__gt != null">
  				and operation_record.timestamp > #{timestamp__gt}
  			</if>
  			<if test="timestamp__lt != null">
  				<![CDATA[and operation_record.timestamp < #{timestamp__lt}]]>
  			</if>
  			<if test="tagInfoOriginVersion__ge != null">
  				and tag_info.origin_version >= #{tagInfoOriginVersion__ge}
  			</if>
  			<if test="tagInfoOriginVersion__le != null">
  				<![CDATA[and tag_info.origin_version <= #{tagInfoOriginVersion__le}]]>
  			</if>
  		</where>
  	</sql>
  	
</mapper>