<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sogou.map.logreplay.mappers.UserRelRoleMapper">
		  	
  	<insert id="batchSave" useGeneratedKeys="true">
  		insert into user_rel_role (<include refid="columns" />)
  		values
  		<foreach collection="list" item="rel" separator=",">
  			(<include refid="fields" />)
  		</foreach>
  	</insert>
  	
  	<sql id="columns">
  		id, role_id, user_id
  	</sql>
  	
  	<sql id="fields">
  		#{rel.id}, #{rel.roleId}, #{rel.userId}
  	</sql>
  	
</mapper>