<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd "
	default-lazy-init="false" default-autowire="byName">

	<bean id="metaData" class="com.sogou.map.logreplay.audit.AuditMetaData" />
	<bean id="layout" class="org.audit4j.core.layout.CustomizableLayout">
		<property name="dateFormat" value="yyyy-MM-dd HH:mm:ss" />
		<property name="template">
			<value>${eventDate} AuditLog |${actor}|${action}|${origin}|{${foreach fields field ,}${field.name}:${field.value}${end}}</value>
		</property>
	</bean>
	<bean id="consoleAuditHandler" class="org.audit4j.core.handler.ConsoleAuditHandler"></bean>
	<bean id="databaseAuditHandler" class="org.audit4j.handler.db.DatabaseAuditHandler">
		<property name="embedded" value="false" />
		<property name="db_connection_type" value="jndi" />
		<property name="db_jndi_datasource" value="java:comp/env/jdbc/dataSource" />
	</bean>
	<bean id="auditconfig" class="org.audit4j.integration.spring.SpringAudit4jConfig">
		<property name="layout" ref="layout" />
		<property name="metaData" ref="metaData" />
		<property name="commands">
			<value>-objectSerializer=com.sogou.map.logreplay.audit.CustomObjectToJsonSerializer</value>
		</property>
		<property name="handlers">
			<list>
				<ref bean="consoleAuditHandler"/>
				<ref bean="databaseAuditHandler"/>
			</list>
		</property>
	</bean>

	<bean id="auditAspect" class="org.audit4j.integration.spring.AuditAspect" />

	<aop:aspectj-autoproxy>
		<aop:include name="auditAspect" />
	</aop:aspectj-autoproxy>

</beans>
